.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: green;
}

.grid-item {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#homeLink {
    background-color: #339933;
}

#inventoryLink {
    background-color: #ccccff;
}

#loginLink {
    background-color: #339933;
}

#marketLink {
    background-color: #ccccff;
}

#userLink {
    background-color: #339933;
}

#loginButton {
    background-color: #1b8bad;
}

#createUserButton {
    background-color: #1b8bad;
}

#hidePKey {
    background-color: #efb55a;
}

.page {
    background-color: #607e6f;
}

#submitComment {
    background-color: #1b8bad;
}

select {
    background-color: #1b8bad;
}

#styleCreatePet {
    background-color: #1b8bad;
}

#styleSearch {
    background-color: #1b8bad;
}

input {
    background-color: #7bd7a9;
}

textarea {
    background-color: #7bd7a9;
}